<a href="https://colab.research.google.com/github/Iracinth13/CV/blob/main/ReviewofPython_Casuat_4ANS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

© Cherry Casuat (2022)

This is the notebook for Introduction to Machine Learning

#Review of Python Programming

## Proper Naming Convention

You might think discussing this topic must be pointless or too simplistic but it is actually one of the most frequent mistakes that data scientists, professors, or researchers usually do. Naming variables and functions properly will bring clarity to understanding the code.

In [ ]:
import pandas as pd

In [ ]:
last_names = ["Rosales","Cruz", "Reyes"]
#ln , avoid creating ambiguity

In [ ]:
last_names

##Practice Activity
1. Create variable declarations for 
   - First Names
   -Grades for Prelim
   -Grades for Midterm
   -Grades for Finals

In [ ]:
# CODE HERE 
import pandas as pd

In [ ]:
first_name=["Irish","Adrian","Ian"]
first_name

In [ ]:
prelim_grades=[99,92,88]
prelim_grades

In [ ]:
midterm_grades=[91,90,85]
midterm_grades

In [ ]:
final_grades=[90,89,81]
final_grades

##Code Reusability

Just like in any writing we want to reduce redundancies in our content. Just like following the rules of brevity we also consider that in creating cleaner code. One way of applying brevity to code is code reusability wherein you refrain from creating code that you repeat in encoding. This is where the use of functions will be most used. Consider the following code below.

In [ ]:
'''
    CASE 2: Computing grades.

    For this cell we are going to look into creating functions for the class.
    This includes computing for their grades and some classroom management
    routines.
'''
### Consider this procedural programming script
gs_1 = [89.4, 78.2, 88.0, 28.5, 67.3]
# Get average grades of the class
class_g = 0
for g in gs_1:
  class_g += g
cmean = class_g/len(gs_1)
print (cmean)

In [ ]:
# Code here for grades  (89,90,73,45)
gs_1 = [89,90,73,45]
# Get average grades of the class
class_g = 0
for g in gs_1:
  class_g += g
cmean = class_g/len(gs_1)
print (cmean)

In [ ]:
### That works but if you keep doing that for production, it would just look
### like spaghetti code. Instead, if you are repeating code, consider creating
### a function.

def average(grades):
  grades_class = 0
  for g in grades:
    grades_class += g
  avg = grades_class/len(grades)
  return avg

In [ ]:
## The code above would be reusable but it is not easy to read. We need to 
### enforce the code refactoring for renaming not just the variables but also
### the functions we are creating. So if we would refactor the 'average' 
### Function earlier it could be:

def get_class_ave(arr):
  class_grades = 0
  for grade in arr:
    class_grades += grade
  class_avg = class_grades/len(arr)
  return class_avg

##Getting Class Statistics

Create a function named get_grades() for computing the semestral grade of each student:

inputs: DataFrame of a class grade sheet.

outpus: DataFrame showing:
    The prelim, midterms, and finals grades of each student
    The semestral grade of each student

Create a function named get_class_stats().

inputs: DataFrame from get_grades().

outpus: DataFrame showing:
    The lowest and highest prelim, midterm, finals, and semestral grades
    the mean, median, mode, and standard deviation of the grades

In [ ]:
## Code here##
import pandas as pd
def get_grades():
  class_grade_sheet = pd.DataFrame({'Name': ['Irish', 'Adrian', 'Ian'],
        'Surnames':['Morales',"Gonzales","Laguisma"],
        'Prelim':[99,92,88],
        'Midterm':[91,90,85],
        'Final': [90,89,81]})
  return class_grade_sheet

In [ ]:
get_grades()

     Name  Surnames  Prelim  Midterm  Final
0   Irish   Morales      99       91     90
1  Adrian  Gonzales      92       90     89
2     Ian  Laguisma      88       85     81

In [31]:
import statistics 
def get_grades():
  class_grade_sheet = pd.DataFrame({'Name': ['Irish', 'Adrian', 'Ian'],
        'Surnames':['Morales',"Gonzales","Laguisma"],
        'Prelim':[99,92,88],
        'Midterm':[91,90,85],
        'Final': [90,89,81]})
  return class_grade_sheet

print(get_grades());

def get_class_stats():
  class_grade_sheet = get_grades()
  print("\n")
  print("Highest in Prelim = " , class_grade_sheet['Prelim'].max())
  print("Lowest in Prelim = " , class_grade_sheet['Prelim'].min())

  print("\n")
  print("Highest in Prelim = " , class_grade_sheet['Midterm'].max())
  print("Lowest in Prelim = " , class_grade_sheet['Midterm'].min())

  print("\n")
  print("Highest in Prelim = " , class_grade_sheet['Final'].max())
  print("Lowest in Prelim = " , class_grade_sheet['Final'].min())

  print("\nMean:")
  print(class_grade_sheet.mean())

  print("\nMedian:")
  print(class_grade_sheet.median())

  print("\nMode:")
  print(class_grade_sheet.mode())
  
get_class_stats()

     Name  Surnames  Prelim  Midterm  Final
0   Irish   Morales      99       91     90
1  Adrian  Gonzales      92       90     89
2     Ian  Laguisma      88       85     81


Highest in Prelim =  99
Lowest in Prelim =  88


Highest in Prelim =  91
Lowest in Prelim =  85


Highest in Prelim =  90
Lowest in Prelim =  81

Mean:
Prelim     93.000000
Midterm    88.666667
Final      86.666667
dtype: float64

Median:
Prelim     92.0
Midterm    90.0
Final      89.0
dtype: float64

Mode:
     Name  Surnames  Prelim  Midterm  Final
0  Adrian  Gonzales      88       85     81
1     Ian  Laguisma      92       90     89
2   Irish   Morales      99       91     90

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

##Code Optimization
When we consider your code to be part of production or for customer delivery we must consider that they are not laggy nor too space-consuming for devices. This is a common practice in data science and machine learning wherein training algorithms take up resources from computers or considering the space a model consumes at your workspace or your customer’s device.

Space Complexity

This would specifically refer to your choice of data structures. This is a job for reviewing data structures and algorithms for space complexity. Although in Python for AI we are looking into more data structures like matrices and data frames.

In [ ]:
## The following code will optimize how to efficiently store data into memory
enrollees_2016_2020 = ['15022', '18302', '8845', '9203', '10035']
enrollees_2016_2020 = [15022, 18302, 8845, 9203, 10035]

In [ ]:
img1 =[[125.453, 254],[64.21,84.53]]
img1

[[125.453, 254], [64.21, 84.53]]

In [ ]:
import numpy as np
img1_vector= np.array(img1)
img1_vector

array([[125.453, 254.   ],
       [ 64.21 ,  84.53 ]])

##Practice Activity
code wil try to optimize getting unique elements from the given
list of class codes

curr_2018_courses = ['220', '270', '318', '450', '101', '768', '223L', '223',
                     '727', '418', '673', '672', '450', '124', '771', '654',
                     '231', '768', '768', '224', '654', '673']

### print an array that shows only the unique elements

In [ ]:
## CODE HERE ##
curr_2018_courses = ['220', '270', '318', '450', '101', '768', '223L', '223', '727', '418', '673', '672', '450', '124', '771', '654', '231', '768', '768', '224', '654', '673']
def get_unique_numbers(curr_2018_courses):
    unique = []

    for number in curr_2018_courses:
        if number in unique:
            continue
        else:
            unique.append(number)
    return unique

print(get_unique_numbers(curr_2018_courses))

['220', '270', '318', '450', '101', '768', '223L', '223', '727', '418', '673', '672', '124', '771', '654', '231', '224']